* {
    box-sizing: border-box;
    font-family: "微软雅黑", sans-serif;
    font-size: 15px;
    line-height: 20px; 
    color: #888;
}
html {
    background: #F6F6F6;
}
li {
    list-style: none;
}
ul {
    padding-left: 0;
    margin: 0;
}
button {
    border-style: none;
    background-color: #FFEEA3;
    padding: 2px 8px;
    border-radius: 5px;
}
button:hover {
    opacity: 0.8;
}
h1 {
    font-size: 28px;
    text-align: center;
}
h2 {
    font-size: 16px;
}
h3 {
    margin: 0px;
}
a {
    text-decoration: none;
}
.pannel-common {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 35px 65px;
}
#today-pannel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#today-weather-info {
    width: 0.5;
    /*! order: 1; */
    flex-basis: 450px;
    flex-shrink: 0;
}
#today-weather-info h2 {
    font-weight: normal;
    font-size: 10px;
}
#today-week {
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
}
#now-time {
    font-weight: normal;
    margin-right: 4px;
}
#today-weather-main img{
    vertical-align: middle;
}
#today-weather-words {
    display: inline-block;
    font-size: 18px;
    position: relative;
    top: 20px;
    left: 10px;
}
#today-weather-temp {
    display: block;
    font-size: 27px;
    margin-top: 10px;
    color: #6c8eb1;
    line-height: 29px;
}
#today-weather-temp span {
    color: #6c8eb1;
    font-size: 27px;
}
#today-weather-other span{
    display: inline-block;
    margin-right: 20px;
}
.today-weather-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 0.5;
    opacity: 0;
}
.today-weather-index li:first-of-type {
    background: url("./src/clothing.png") left center no-repeat;
}
.today-weather-index li:nth-of-type(2) {
    background: url("./src/uv.png") left center no-repeat
}
.today-weather-index li:nth-of-type(3) {
    background: url("./src/carwashing.png") left center no-repeat
}
.today-weather-index li:nth-of-type(4) {
    background: url("./src/travelling.png") left center no-repeat
}
.today-weather-index li:nth-of-type(5) {
    background: url("./src/exercise.png") left center no-repeat
}
.today-weather-index li:nth-of-type(6) {
    
    background: url("./src/info.png") left center no-repeat
}
.today-weather-index li{
    height: 28px;
    line-height: 28px;
    background-size: 15px !important;
    text-indent: 24px;
    color: #a3a3a3;
    align-items: center;
}
#today-weather-index {
    opacity: 1;
}
.today-weather-index span {
    color: #a3a3a3;
}
.today-weather-index {
    -webkit-transition: height 0.3s, flex-basis 0.3s;
    -moz-transition: heigth 0.3s, flex-basis 0.3s;
    transition: opacity 0.3s, flex-basis 0.3s;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    width: 0.5;
    flex-shrink: 1;
}
.future-week {
    display: block;
}
#future-pannel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.future-someday {
    text-align: center;
    order: 1;
    flex-shrink: 1;
    flex-grow: 1;
}
#addition-info {
    margin-top: 10px;
}
#addition-info h1 {
    font-size: 10px;
    margin: 0px;
    font-weight: normal;
}
#addition-info p {
    text-align: center;
    font-size: 12px;
    margin: 0;
}
@media screen and (max-width: 1200px) {
    .pannel-common {
        width: 90%;
    }
    #today-weather-info {
        flex-basis: 270px;
        flex-grow: 1;
    }
    #today-weather-index {
        flex-grow: 1;
    }
}
@media screen and (max-width: 610px) {
    #today-pannel {
        flex-direction: column;
    }
        .pannel-common {
        width: 95%;
        padding-left: 10%;
        padding-right: 0%;
        min-width: 300px;
    }
    #today-weather-info {
        flex-basis: auto;
    }
    #today-weather-wind {
        margin-right: 30% !important;
        margin: 0 !important;
    }
    #today-weather-dry {
        width: 30% !important;
        margin: 0 !important;
        text-align: center;
    }
    #today-index {
        width: 30% !important;
        margin: 0 !important;
    }
    .today-weather-index {
        flex-basis: 0;
    }
    #today-weather-index {
        opacity: 1;
        flex-basis: 168px;
    }
    /* 未来七天 */
    #future-pannel {
        flex-direction: column;
        align-items: stretch;
        padding-left: 0px;
    }
    .future-someday {
        flex-basis: 80px;
        display: flex;
        flex-direction: row;
        margin-bottom: 14px;
        /*! align-items: stretch; */
    }
    .future-someday h3 {
        flex-basis: 60px;
        /*! margin-right: 0.2; */
        width: 100px;
        flex-grow: 1;
        line-height: 30px;
    }
    .future-someday img {
        flex-basis: 80px;
        width:100px;
        flex-grow: 0px;
    }
    .future-someday ul {
        flex-basis: 60px;
        width: 100px;
        flex-grow: 1.2;
    }
    .future-someday ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .future-someday ul * {
        flex-basis: 15px;
    }
    .future-date {
        font-size: 14px;
    }
    .future-week {
        font-size: 20px;
    }
}